.resetMargin{
    margin: 0;
    padding: 0;
}

.listContainer {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.listItem{
    margin: 5px;
}

.intersector{
    width: 100%;
    height: 100px;
}

.headerOptions {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #4267b2;
    height: 40px;
    display: flex;
    color: #fff;
    align-items: center;
    list-style-type: none;
}

.headerItems {
    padding-left: 20px;
    cursor: pointer;
}
